@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 650px;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(111%2c 32%2c 22%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c294.347C55.553%2c281.862%2c111.52%2c278.457%2c161.885%2c251.898C215.828%2c223.453%2c267.947%2c189.015%2c299.132%2c136.609C332.238%2c80.975%2c338.591%2c15.674%2c340.953%2c-49.022C343.743%2c-125.428%2c359.073%2c-210.333%2c314.058%2c-272.133C268.526%2c-334.642%2c184.472%2c-355.687%2c108.214%2c-368.543C37.655%2c-380.438%2c-31.134%2c-359.873%2c-100.423%2c-342.009C-172.108%2c-323.528%2c-248.041%2c-312.152%2c-302.979%2c-262.533C-361.338%2c-209.824%2c-400.887%2c-137.075%2c-413.299%2c-59.423C-425.813%2c18.865%2c-407.356%2c98.92%2c-372.105%2c169.934C-337.578%2c239.488%2c-290.187%2c312.322%2c-216.542%2c336.945C-145.332%2c360.754%2c-73.258%2c310.811%2c0%2c294.347' fill='%23591a12'%3e%3c/path%3e%3cpath d='M1440 1031.9189999999999C1539.53 1018.972 1647.044 1067.453 1734.7060000000001 1018.572 1823.679 968.96 1855.307 861.258 1905.267 772.48 1960.08 675.079 2054.87 584.482 2041.435 473.527 2027.9850000000001 362.453 1919.8 291.424 1837.799 215.305 1763.724 146.54399999999998 1680.566 95.62599999999998 1588.771 53.331999999999994 1482.438 4.340000000000032 1374.339-78.81299999999999 1260.717-50.581999999999994 1146.886-22.299999999999955 1072.858 90.911 1018.727 194.96499999999997 971.4069999999999 285.927 994.761 392.427 977.664 493.526 959.989 598.043 897.084 694.847 916.573 799.0409999999999 938.47 916.108 982.71 1053.829 1091.5230000000001 1102.241 1202.029 1151.406 1320.061 1047.521 1440 1031.9189999999999' fill='%2385261a'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 200ms ease-in-out;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
}

main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}   
.container-form{
    width: 500px;
    height: 520px;
    background-color: #eee;  
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: background 200ms ease-in-out;
}
#titulo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 35px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
#form-registro{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#form-registro label{
    height: 20px;
    width: 80%;
    font-size: 1.6em;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
#form-registro input{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    font-size:  15px;
    padding: 10px;
    border: 1px solid #333;
}

#form-registro button{
    height: 40px;
    width: 80%;
    margin-top: 5px;
    border: none;
    background-color: #6F2016;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    opacity: .8;
    transition: opacity 200ms ease-in-out;
}

#form-registro button:hover{
    opacity: 1;
}

#form-registro a{ 
    font-size: 16px;
    color: #555;
    transition: color 200ms ease-in-out;
    font-weight: bold;
}
#form-registro a:hover{
    text-decoration: underline;
    color: #333;
}